In [1]:
import pandas as pd

/tmp/ipykernel_2386/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
pd.__version__

'2.2.0'

In [13]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [14]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://root:root@localhost:5455/ny_taxi")
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [27]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100_000)

In [28]:
df = next(df_iter)
len(df)

100000

In [29]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [30]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

1000

In [31]:
from time import time

In [32]:
for i, df in enumerate(df_iter, 2):
    t_start = time()
    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print(f"inserted chunk {i}, took {t_end-t_start:.3f} seconds")

inserted chunk 2, took 8.411 seconds
inserted chunk 3, took 8.415 seconds
inserted chunk 4, took 8.142 seconds
inserted chunk 5, took 8.565 seconds
inserted chunk 6, took 9.129 seconds
inserted chunk 7, took 9.491 seconds
inserted chunk 8, took 9.496 seconds
inserted chunk 9, took 10.373 seconds
inserted chunk 10, took 9.031 seconds
inserted chunk 11, took 10.020 seconds
inserted chunk 12, took 9.973 seconds

/tmp/ipykernel_19296/2523310616.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, df in enumerate(df_iter, 2):

inserted chunk 13, took 10.329 seconds
inserted chunk 14, took 6.087 seconds

In [4]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")